.navbar {
    height: 100%;
    width: 117px;
    min-height: max(calc(100vh - 90px), calc(1024px - 90px));
    margin: 0;
}

/* media query for mobile devices */
@media (max-width: 1248px) {
    .navbar {
        min-height: 140vh !important;
    }
}
/* media query for tablette */
@media (min-width: 1249px) and (max-width: 1536px) {
    .navbar {
        min-height: 122vh !important;
    }
}


.navbar-icon {
    margin-bottom: 20px;
    cursor: pointer;
}

.navbar div.navbar-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 25vh;
}

.navbar p.copyright {
    transform: rotate(-90deg);
    color: white;
    width: 138px;
    height: 24px;
    text-wrap: nowrap;
    position: relative;
    bottom: -450px;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 200% */
}
