.rating {
    width: 258px;
    height: 263px;
    border-radius: 5px;
    background: #FBFBFB;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}
.rating .recharts-legend-wrapper {
    position: absolute;
    top: 20%;
    right: 17.5%;
    bottom: 22%;
    left: 17.5%;
    text-align: center;
    width: 50%;
    border: none;
    border-radius: 50%;
    line-height: 18px;
    padding: 15px;
}

.score-radial {
    background-color: white;
}

.rating h3 {
    margin-top: 24px;
    margin-bottom: -24px;
    margin-left: 30px;
}

.custom-legend-rating {
    width: 95px;
    margin: 30px 90px -30px auto;
}
