header {
    height: 91px;
    width: 100%;
    padding: 0 20px;
}

header img {
    height: 58px;
    margin: auto 0 auto 0;
}

header span {
    margin: auto;
    color: #FFF;
    font-family: Roboto, serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 100% */
}
