.activity {
    height: 320px;
    max-height: 320px;
    width: 835px;
    border-radius: 5px;
    padding: 24px;
    background: #FBFBFB;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

.icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #E60000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.weight {
    background: #282D30;
}

.icon.calories {
    background: #E60000;
}

.activity div h3 {
    color: #20253A;
    font-family: Roboto, serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px; /* 160% */
}

.activity-icon-legend {
    color: #74798C;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
}

.cal-m {
    margin: 0 30px;
}

.activity svg {
    margin: 0 10px;
}
