.activity {
    height: 320px;
    max-height: 320px;
    width: 835px;
    border-radius: 5px;
    padding: 24px;
    background: #FBFBFB;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.02);
}

.icon {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #E60000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon.weight {
    background: #282D30;
}

.icon.calories {
    background: #E60000;
}
