body {
    margin: 0;
    padding: 0;
    background: #FFF;
}

#root {
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.main-container {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    flex-wrap: nowrap;
}

.bg-black {
    background-color: #000;
}

.bg-white {
    background-color: #fff;
}

.text-white {
    color: #fff;
}

.text-black {
    color: #000;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.w-100 {
    width: 100%;
}

.m-auto {
    margin: auto;
}

.mx-auto {
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.justify-between {
    justify-content: space-between;
}

.justify-end {
    justify-content: flex-end;
}

.justify-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}

.text-2xl {
    font-size: 2rem;
}

.text-lg {
    font-size: 1.125rem;
}

.text-red-600 {
    color: #FF0101;
}

.px-0 {
    padding-left: 0;
    padding-right: 0;
}
